<section id="home" class="welcome-hero">
  <div class="container">
    <div class="welcome-hero-txt">
      <h2>Discover Your Next Adventure </h2>
      <p>
        Find activities perfectly suited to your location, weather, and time in just One click
      </p>
    </div>
    <div class="welcome-hero-serch-box">
      <div class="welcome-hero-serch ">
        <button class="welcome-hero-btn" (click)="navigateToExplore()">
          Start NOW
        </button>
      </div>
    </div>
  </div>
</section>
