<section class="top-area">
  <div class="header-area">
    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" routerLink="">Local<span>Explorer</span></a>
          <a class="navbar-brand-top" routerLink="">
            <img src="assets/logo.png" alt="LocalExplorer Logo" style="height: 10vh;">
          </a>
        </div>
        <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
          <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="" routerLinkActive="active-link" >Home</a></li>
            <!--<li><a routerLink="/how-it-works" routerLinkActive="active-link">How It Works</a></li>-->
            <li><a routerLink="/explore" routerLinkActive="active-link" class="username-display">{{ explorer }}</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="clearfix"></div>

</section>
